* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: rgb(24, 24, 24);
  color: rgb(200, 200, 200);
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
.pull-right {
  float: right !important;
}

.xs-12 {
  width: 100%;
}

.node {
  font: 300 9px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #aaa;
}

.node:hover {
  fill: #fff;
  cursor: pointer;
}

.link {
  stroke: #1ED760;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #D90368;
}

.node--target {
  fill: #7c25f8;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #7c25f8;
}

.link--target {
  stroke: #D90368;
}

.navbar {
  background-color: rgb(40, 40, 40);
  border-color: rgb(40, 40, 40);
  line-height: 60px;
}

.navbar-form {
  border: none;
}

.form-control {
  margin-left: 8px;
  border-radius: 16px;
  border: none;
  background-color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

form {
  display: inline-block;
}

.navbar {
  min-height: 80px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
}

.navbar-brand {
  display: inline-flex;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
   padding-left: 30px;    
}

.left-inner-addon i {
  color: #000;
  position: absolute;
  padding: 23px 16px;
  pointer-events: none;
}

.fa-spotify {
  color: #1ED760;
  padding-left: 8px;
  padding-right: 8px;
}

.btn {
  margin-left: 16px;
  color: #fff;
  background-color: #1ED760;
  border: 1px solid #1ed760;
  border-radius: 20px;
  height: 27px;
  align-items: center; 
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}

.btn:hover {
  color: #fff;
  background: #43e57d;
  border: 1px solid #43e57d;
  cursor: pointer;
  outline: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    background-color: #1ED760;
    border: 1px solid #1ed760;
    color: white: ;
}

.artistInfo {
  position: fixed;
  margin: auto;
  right: 0;
  height: auto;
  color: #fff;
  padding: 24px;
}

.artistImage {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  background-position: center center;
  background-size: cover;
}

.artistName {
  position: absolute;
  top: 0;
  margin: 0;
  width: 256px;
  margin-left: 16px;
  display: inline-block;
}

.tracks {
  padding: 0;
  margin: 0;
  color: #fff;
}

.trackHeader {
  color: rgb(200, 200, 200);
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #282828; 
}

.number {
  min-width: 16px;
  display: inline-block;
}

.song {
  margin-left: 32px;
  display: inline-block;
}

.tracksList {  
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #282828;
}

.trackNumber {
  color: rgb(200, 200, 200);
  min-width: 16px;
  display: inline-block;
  position: absolute;
}

.fa {
  position: relative;
  left: 0;
}

.trackName {
  margin-left: 32px;
  display: inline-block;
}

.artistInfo i {
  margin-left: 24px;
}

.playing {
  background-color: #282828;
  color: #1ED760;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.description {
  position: fixed;
  margin: auto;
  bottom: 0;
  right: 0;
}

.purple {
  color: #7c25f8;
}

.pink {
  color: #D90368;
}

@media (min-width: 768px) {
  .sm12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .md8 {
    width: 66.66666667%;
  }

  .md6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .lg3 {
    width: 25%;
  }
}

@media only screen and (max-device-width: 768px) {
  .node {
    font: 300 6px "Helvetica Neue", "Roboto", Arial, sans-serif;
  }

  .navbar-brand h1 {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
  }

  .navbar {
    line-height: 24px;
  }
  
  .navbar-toggle {
    margin-top: 22px;
  }
  
  .navbar-collapse {
    margin-top: 8px;
    border: none;
    box-shadow: none;
  }

  .navbar-form {
    margin-top: 16px 0;
    padding: 0;
    box-shadow: none;
  }

  .form-control {
    display: inline-flex;
  }

  .left-inner-addon i {
  color: #000;
  position: absolute;
  padding: 10px 16px;
  pointer-events: none;
  }

  .btn {
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
}