* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(24, 24, 24);
  padding: 20px;
  color: rgb(200, 200, 200);
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #aaa;
}

.node:hover {
  fill: #fff;
  cursor: pointer;
}

.link {
  stroke: #1ED760;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #D90368;
}

.node--target {
  fill: #7c25f8;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #7c25f8;
}

.link--target {
  stroke: #D90368;
}

.hidden {
  display: none;
}

.navbar {
  background-color: rgb(40, 40, 40);
  border-color: rgb(40, 40, 40);
  line-height: 60px;
}

.form-control {
  margin-left: 8px;
  border-radius: 16px;
  border: none;
  background-color: #fff;
}

input:focus { 
  background-color: white;
}

form {
  display: inline-block;
}

.results {
  margin: 80px auto;  
}

.navbar {
  min-height: 80px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
}

.navbar-brand {
  display: inline-flex;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
   padding-left: 30px;    
}

.left-inner-addon i {
  color: #000;
  position: absolute;
  padding: 23px 16px;
  pointer-events: none;
}

.fa-spotify {
  color: #1ED760;
  padding-left: 8px;
  padding-right: 8px;
}

.btn {
  margin-left: 16px;
  color: #fff;
  background-color: #1ED760;
  border: 1px solid #1ed760;
  border-radius: 20px;
  height: 27px;
  align-items: center; 
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}

.btn:hover {
  color: #fff;
  background: #43e57d;
  border: 1px solid #43e57d;
  cursor: pointer;
  outline: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    background-color: #1ED760;
    border: 1px solid #1ed760;
    color: white: ;
}

.artistInfo {
  position: fixed;
  margin: 80px auto;
  right: 0;
  height: auto;
  color: #fff;
  padding: 24px;
}

.artistImage {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    background-position: center center;
    background-size: cover;
}

.artistName {
  position: absolute;
  top: 0;
  margin: 0;
  width: 256px;
  margin-left: 16px;
  display: inline-block;
}

.tracks {
  padding: 0;
  margin: 0;
  color: #fff;
}

.trackHeader {
  color: rgb(200, 200, 200);
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #282828; 
}

.number {
  min-width: 16px;
  display: inline-block;
}

.song {
  margin-left: 16px;
  display: inline-block;
}

.tracksList {  
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #282828;
}

.trackNumber {
  color: rgb(200, 200, 200);
  min-width: 16px;
  display: inline-block;
}

.trackName {
  margin-left: 16px;
  display: inline-block;
}

.playing {
  background-color: #282828;
  color: #1ED760;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}