* {
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  padding: 20px;
  color: rgb(200, 200, 200);
}

.container {
  overflow: visible;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #aaa;
}

.node:hover {
  fill: #fff;
}

.link {
  stroke: #1ED760;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #D90368;
}

.node--target {
  fill: #7c25f8;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #7c25f8;
}

.link--target {
  stroke: #D90368;
}

.hidden {
  display: none;
}

.results {
  z-index: -1;
  overflow: visible;
}

.artistInfo {
  z-index: 1;
  position: relative;
  margin: auto;
  width: 600px;
  height: 600px;
  background-color: rgb(24, 24, 24);
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  color: #fff;
  border: 1px solid rgb(170, 170, 170);
}

.artistImage {
    position: relative;
    margin-top: 104px;
    margin-left: 104px;
    display: inline-block;
    width: 128px;
    height: 128px;
    /*border-radius: 50%;*/
    background-position: center center;
    background-size: cover;
}

.artistName {
  position: relative;
  width: 256px;
  top: -96px;
  margin-left: 16px;
  display: inline-block;
}

.tracks {
  color: #fff;
}